In [2]:
print('hello')

hello

In [3]:
print('hello"hi"world')
print('vice versa')

hello"hi"world
vice versa

In [4]:
print('hello'hi'')
# print('for" also') gives syntax error

SyntaxError: invalid syntax (<ipython-input-4-28564f4d2508>, line 1)

In [ ]:
print("hello\"hi\" world")
print('hello\'hi\'world')
#always use backslash for double or single code in btw the line

In [ ]:
print('line a\nline b\nline c')#new line

In [ ]:
print('name\tchetna')
print('this is \ backslash')

In [ ]:
print(('this is  backslash\'))
       #becoz \' is single codes thus end of line error

In [ ]:
print('this is  backslash\\') #double backlash is backlash
print('this is double backslash \\\\')

In [ ]:
print('hello\bo')# backspace

In [ ]:
# ctrl+forward slash make comments

In [ ]:
#output line a \n line b
print('line a \\n line b')
#output : \" \'
print('\\\" \\\'')#\\ = \ and \" is "

In [ ]:
#ex 1
print('\\\\')
print('/\/\/\\') # at the end \\ is usd
print('he is \tawsome')
print('\\" \\n \\t \\\'')

In [ ]:
print(r'line a \n line b') # by writing r we can treat escape seq as a normal text therefore no double backslash req

In [ ]:
print(2+3*4)
print(2/4) #output is floating pt no thus float div
print(4/2)
print(4//2)#int type div cuts fraction part 
print(2**3)# 2^3
print(2**0.5)# underroot 2 ** refers to ^
print(round(2**0.5,4))#prt round off to 4 digit

In [ ]:
/

In [ ]:
#CHETNA BATRA
#1129
print('welcome')

In [ ]:
#chetna batra 1129
a= input('enter a no')
b= input("enyr 2 no")
sum = int(a)+ int(b) 
print('the sum of 2 nos is:' , sum)

In [ ]:
#chetna batra 1129
n1= input("enter first name")
n2= input("enter second name")
n3= input("enter last name")
print("hello" ,n1 ,n2 ,n3)

In [5]:
#chetna 1129
a= int(input('enter the no'))
if a%2==0:
    print(a,"no is even")
else:
    print(a,"no is odd")

enter the no4
4 no is even

In [7]:
#chetna 1129
p= input("enter a character ")
if p in('a','e','i','o','u','A','I','O','U'):
    print(p,"char is vowel")
else:
    print("char is consonent")

enter a character a
a char is vowel

In [8]:
#chetna 1129
x= int(input("enter 1 no"))
y= int(input("enter 2 no"))
if x>y:
    print("x is greater than y")
else:
    print(y,"is greater than",x)

enter 1 no45
enter 2 no78
78 is greater than 45

In [9]:
#chetna 1129
x= int(input("enter a no"))
fact=1
for i in range(1,x+1):
    fact=fact*i
print("factorial of no",x,"is",fact)

enter a no5
factorial of no 5 is 120

In [31]:
#chetna 1129
print("   * \n  * * \n * * * \n* * * * ")

   *
  * *
 * * *
* * * *

In [32]:
#chetna 1129
nterms = int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

How many terms? 8
Fibonacci sequence:
0
1
1
2
3
5
8
13

In [34]:
#chetna 1129
num= int(input("enter a no"))
if num > 1:
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
else:
   print(num,"is not a prime number")

enter a no45
45 is not a prime number
3 times 15 is 45

In [35]:
#chetna 1129
print("1. Addition");
print("2. Subtraction");
print("3. Multiplication");
print("4. Division");
print("5. Exit");
choice = int(input("Enter your choice: "));
if (choice>=1 and choice<=4):
    print("Enter two numbers: ");
    num1 = int(input());
    num2 = int(input());
    if choice == 1:
        res = num1 + num2;
        print("Result = ", res);
    elif choice == 2:
        res = num1 - num2;
        print("Result = ", res);
    elif choice == 3:
        res = num1 * num2;
        print("Result = ", res);
    else:
        res = num1 / num2;
        year = int(input("Enter a year: "))  
if (year % 4) == 0:  
   if (year % 100) == 0:  
       if (year % 400) == 0:  
           print("{0} is a leap year".format(year))  
       else:  
           print("{0} is not a leap year".format(year))  
   else:  
       print("{0} is a leap year".format(year))  
else:  
   print("{0} is not a leap year".format(year))  print("Result = ", res);
elif choice == 5:
    exit();
else:
    print("Wrong input..!!");

1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Exit
Enter your choice: 1
Enter two numbers:
45
87
Result =  132

In [36]:
#CHETNA 1129
year = int(input("Enter a year: "))  
if (year % 4) == 0:  
   if (year % 100) == 0:  
       if (year % 400) == 0:  
           print("{0} is a leap year".format(year))  
       else:  
           print("{0} is not a leap year".format(year))  
   else:  
       print("{0} is a leap year".format(year))  
else:  
   print("{0} is not a leap year".format(year))

Enter a year: 2020
2020 is a leap year

In [7]:
n=1
while (n<5):
    if(n%2==0):
        print(n,"is even")
    else:
        print(n,"n is odd")
    n+=1

1 n is odd
2 is even
3 n is odd
4 is even

In [10]:
n=1
count = 0
while n>0:
    n=n+1
    if n>10:
        break
    elif(n%2==0):
        count +=1
        print(n, "is",count,"even number")

2 is 1 even number
4 is 2 even number
6 is 3 even number
8 is 4 even number
10 is 5 even number

In [13]:
count=0

for i in range(1,9): 
    if (i%2==0):
        count+=1
        print(i, "is the" ,count , "even number." )
    else:
        continue
        print(i,"is an odd number")

2 is the 1 even number.
4 is the 2 even number.
6 is the 3 even number.
8 is the 4 even number.

In [17]:
for i in range(0,6):
    if i==3:
        pass
    else:
        print(i)

0
1
2
4
5

In [18]:
greet = "hello geeks"
print(len(greet))

11

In [20]:
greet = "hello geeks"
count=len(greet)
for i in range(0,count):
    string=greet[i]
    print(string,"",greet.count(string))

h  1
e  3
l  2
l  2
o  1
   1
g  1
e  3
e  3
k  1
s  1

In [21]:
inputString = "Geeksforgeeks"
count = 0
for i in inputString: 
    count = count + 1
newString = inputString[ 0:2 ] + inputString [count - 2: count ] 
print("Input string = " + inputString) 
print("New String = "+ newString)

Input string = Geeksforgeeks
New String = Geks

In [26]:
string=input("Enter string:")
string=string.replace('a','$')
string=string.replace('A','$')
print("Modified string:")
print(string)

Enter string:haaalo
Modified string:
h$$$lo

In [29]:
string1=input("Write anything:") 
string2=input("Write anything:")
fchar1=string1[0]
fchar2=string2[0]
new_string=fchar2+string1[1:]+" "+fchar1+string2[1:]
print(new_string)

Write anything:hello
Write anything:world
wello horld

In [32]:
string=input("Write anything:") 
length=len(string)
endchars=string[length-3]+string[length-2]+string[length-1] 
if length>3:
    if endchars=="ing": 
        string=string[0:]+"ly" 
    else: 
        string=string[0:]+"ing"
print(string)

Write anything:programming
programmingly

In [33]:
T1=(1,2,3,4)
print(T1)

(1, 2, 3, 4)

In [34]:
T = ("HELLO" , 2, 'e')
print(T)

('HELLO', 2, 'e')

In [36]:
T2 =(1,2,3,4,5)
print(T2[3])

4

In [37]:
T2 =(1,2,3,4,5)
T2=T2+(5,)
print(T2)

(1, 2, 3, 4, 5, 5)

In [40]:
t1 =('a', 'b', 'c', 'd')

str1 =''.join(t1)

print(str1)

abcd

In [41]:
tup = (1,2,3,6,4,5)
print (tup[3] ,tup[-4])

6 3

In [42]:
tup1 = tup[2:5]
print(tup1)

(3, 6, 4)

In [43]:
tup = (3,2,3,6,4,3) 
print(tup[3] ,tup[-4])

6 3

In [44]:
print(tup.count(3))

3

In [45]:
t1 = [1,2,3,4]
t = tuple(t1)

print(t)

(1, 2, 3, 4)

In [46]:
T = list(t) 
T.remove(3)

t =tuple(T)

print(t)

(1, 2, 4)

In [48]:
t= (1,3,5,7,9)
print(t[:4])

(1, 3, 5, 7)

In [49]:
len(t)

5

In [51]:
n=5
for x in range(0, len(t)):
    if(t[x] == n):
        print(x) 
        break

2

In [52]:
print(t)

reverse = reversed (t)
print(tuple((reverse)))

(1, 3, 5, 7, 9)
(9, 7, 5, 3, 1)

In [55]:
list= [1,2,3,4,5]
su = 0
for x in list:
    su = su + x
print(su)

15

In [57]:
list = [1,2,3,4,5]

su = 1

for x in list:
    su = su * x

print(su)

120

In [59]:
list = [1,2,3,4,5] 
su = list[0]

for x in list:
    if (x>su):
        su = x

print(su)

5

In [68]:
list = ['abc', "xyz', 'aba', 1221"]
count = 0
for x in list:
    if(len(x) >= 2) and (x[0] == x[-1]):
     count += 1
print(count)

0

In [69]:
mylist = [1,2,3,4,5,5,6,6,2,1]

newlist = [] 
for i in mylist:
    if i not in newlist:
        newlist.append(i) 
mylist = newlist

print("After removing duplicates" + str(mylist))

After removing duplicates[1, 2, 3, 4, 5, 6]

In [70]:

li = []

if len(li) == 0:
    print("Empty List")

else:
    print("Non-Empty List")

Empty List

In [71]:
copylist = []
copylist = mylist

print(copylist)

copy = [] 
copy = mylist.copy()

print(copy)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [73]:
onelist = [1,2,3,4,5,9]
secondlist = [6,7,8,9]

for x in onelist:
    for y in secondlist:
        if x == y:
            print(True)
            break

True

In [74]:

dict1={}
dict1

{}

In [75]:
dict1={"A":10,"B":20}
dict1

{'A': 10, 'B': 20}

In [76]:
dict1={"A":"D", 2:"R", 3.8:"11"}
dict1

{'A': 'D', 2: 'R', 3.8: '11'}

In [77]:
dict1={"A":"D", 2:"R", 3.8:"11"}
print(dict1)

{'A': 'D', 2: 'R', 3.8: '11'}

In [78]:
dict1={"A":"D", 2:"R", 3.8:"11"}
del(dict1[2])
dict1

{'A': 'D', 3.8: '11'}

In [84]:
dict1={"A":"D", 2:"R", 3.8:"11"}
print(dict1[3.8])

11

In [85]:
dict1={"A":"D", 2:"R", 3.8:"11"}
"A" in dict1

True

In [86]:
dict1={"A":"D", 2:"R", 3.8:"11"}
dict1[3.8]="2k19"
print(dict1)

{'A': 'D', 2: 'R', 3.8: '2k19'}

In [87]:
dict1={"A":"D", 2:"R", 3.8:"11"}
dict1["b"]="2K19"
dict1

{'A': 'D', 2: 'R', 3.8: '11', 'b': '2K19'}

In [88]:
dict1={}
for i in range(1,11):
    dict1[i]=i*i
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [89]:
dict1={1:"a", 2:"b", 3:{4:"c",5:"d"}, 6:"e" }
print(dict1)

{1: 'a', 2: 'b', 3: {4: 'c', 5: 'd'}, 6: 'e'}

In [90]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dict1={**dic1, **dic2, **dic3}
dict1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [91]:
dic1={1:1, 2:2, 3:3, 4:4, 5:5}
len1=len(dic1)
sum=0
for i in range(1,len1+1):
    sum+=dict1[i]
print(dic1)
print(sum)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5}
150

In [92]:
dict1={1:"a", 2:"b", 3:{4:"c",5:"d"}, 6:"e" }
dict1[3][5]

'd'

In [93]:
dict1={}
for i in range(0,16):
    dict1[i]=i*i
print(dict1)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [94]:
def factorial(n):
    fact=1
    for i in range(1,n+1):
        fact=i*fact
    return fact
dict1={}
for i in range (1,7):
    dict1[i]=factorial(i)
print(dict1)

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120, 6: 720}

In [95]:
sets={1,2,3,1}
sets

{1, 2, 3}

In [96]:
set1={1,2,3,4}
set1.add(5)
print(set1)

{1, 2, 3, 4, 5}

In [97]:
set1={1,2,3,4}
set2={5,6,7}
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6, 7}

In [98]:
set1={1,2,3,4}
print(len(set1))

4

In [99]:
set1={1,2,3,4}
set1.remove(3)
set1

{1, 2, 4}

In [100]:
set1={3,4,1}
set1.pop()

1

In [101]:
set1={1,2,3,4}
set2={5,6,7}
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6, 7}

In [102]:
set1={1,2,3,4,5}
set2={3,4,5,6}
print(set1 & set2)

{3, 4, 5}

In [103]:
set1={1,2,3,4}
set2={4,5,6,7}
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}

In [104]:
set1={1,2,3,4}
set1.clear()
set1

set()

In [105]:
set1={1,2,3,4,5,6,7}
set2={3,4,5}
print(set2.issubset(set1))
print(set1.issuperset(set2))

True
True

In [106]:
set1={1,2,3,4,5,6,7}
set2={3,4,5,9,8}
set3=set1.difference(set2)  
set3

{1, 2, 6, 7}

In [107]:
set1={1,2,3,4,5,6,7}
set2={3,4,5,9,8}
symmetricdifference=(set1-set2).union(set2-set1)
symmetricdifference

{1, 2, 6, 7, 8, 9}